<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <meta name="keywords" content="<%= base.keywords %>">
    <meta name="description" content="<%= base.description %>">
    <title>首页</title>
    <link rel="stylesheet" href="<%= base.cdn %>/css/weui.min.css" />
    <link rel="stylesheet" href="<%= base.cdn %>/css/swiper-4.1.6.min.css" />
    <link rel="stylesheet" href="<%= base.cdn %>/css/style.css" />
    <script data-main="<%= base.cdn %>/js/app/index-main" src="<%= base.cdn %>/js/lib/require.js" defer async="true"></script>
</head>