<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <meta name="keywords" content="<%= base.keywords %>">
    <meta name="description" content="<%= base.description %>">
    <title>首页</title>
    <link rel="stylesheet" href="<%= base.cdn %>/css/weui.min.css?v=<%= base.version %>" />
    <link rel="stylesheet" href="<%= base.cdn %>/css/swiper-4.1.6.min.css?v=<%= base.version %>" />
    <link rel="stylesheet" href="<%= base.cdn %>/css/mescroll.min.css?v=<%= base.version %>" />
    <link rel="stylesheet" href="<%= base.cdn %>/css/base.css?v=<%= base.version %>" />
    <script src="<%= base.cdn %>/js/lib/jquery.js?v=<%= base.version %>" ></script>
    <script src="<%= base.cdn %>/js/lib/jquery.Spinner.js?v=<%= base.version %>" ></script>
    <script src="<%= base.cdn %>/js/lib/mescroll.min.js?v=<%= base.version %>" ></script>
    <script src="<%= base.cdn %>/js/lib/swiper.min.js?v=<%= base.version %>" ></script>
    <script src="<%= base.cdn %>/js/lib/dmgload.min.js?v=<%= base.version %>" ></script>
    <script src="<%= base.cdn %>/js/app/base.js?v=<%= base.version %>" ></script>
</head>