<div class="weui-flex wy-iconlist-box">
    <div class="weui-flex__item">
        <a href="javascript:;" class="wy-links-iconlist">
            <div class="img"><img src="<%= base.cdn %>/images/menu2.png"></div>
            <p>正在建设</p>
        </a>
    </div>
    <div class="weui-flex__item">
        <a href="javascript:;" class="wy-links-iconlist">
            <div class="img"><img src="<%= base.cdn %>/images/menu3.png"></div>
            <p>正在建设</p>
        </a>
    </div>
    <div class="weui-flex__item">
        <a href="/user/orderList" class="wy-links-iconlist">
            <div class="img"><img src="<%= base.cdn %>/images/menu4.png"></div>
            <p>订单管理</p>
        </a>
    </div>
    <div class="weui-flex__item">
        <a href="javascript:;" class="wy-links-iconlist">
            <div class="img"><img src="<%= base.cdn %>/images/menu1.png"></div>
            <p>正在建设</p>
        </a>
    </div>
</div>
<div class="weui-flex wy-iconlist-box">
    <div class="weui-flex__item">
        <a href="javascript:;" class="wy-links-iconlist">
            <div class="img"><img src="<%= base.cdn %>/images/menu2.png"></div>
            <p>正在建设</p>
        </a>
    </div>
    <div class="weui-flex__item">
        <a href="javascript:;" class="wy-links-iconlist">
            <div class="img"><img src="<%= base.cdn %>/images/menu3.png"></div>
            <p>正在建设</p>
        </a>
    </div>
    <div class="weui-flex__item">
        <a href="/user/orderList" class="wy-links-iconlist">
            <div class="img"><img src="<%= base.cdn %>/images/menu4.png"></div>
            <p>订单管理</p>
        </a>
    </div>
    <div class="weui-flex__item">
        <a href="javascript:;" class="wy-links-iconlist">
            <div class="img"><img src="<%= base.cdn %>/images/menu1.png"></div>
            <p>正在建设</p>
        </a>
    </div>
</div>