<div style="border-bottom: 2px solid #efeff4; font-size:12px;background-color: #fff;text-align:center;color:#666;padding:5px;">精品推荐</div>

<div class="weui-flex wy-iconlist-box-ex">
    <div class="weui-flex__item" style="background-color: #fff;">
        <a href="/zshop/prodDetail/1" class="wy-links-iconlist-ex">
            <div class="img"><img src="<%= base.cdn %>/images/product/good1.jpg"></div>
            <p style="color:black;font-size:13px;">魅蓝 Note1</p>
            <p>疾速双摄 1100万前置美拍</p>
            <p style="color:red;">¥1199.99</p>
        </a>
    </div>
    <div class="weui-flex__item" style="margin-left:5px;background-color: #fff;">
        <a href="/zshop/prodDetail/2" class="wy-links-iconlist-ex">
            <div class="img"><img src="<%= base.cdn %>/images/product/good2.jpg"></div>
            <p style="color:black;font-size:13px;">魅蓝 Note2</p>
            <p>疾速双摄 1200万前置美拍</p>
            <p style="color:red;">¥1299.99</p>
        </a>
    </div>
</div>

<div class="weui-flex wy-iconlist-box-ex">
    <div class="weui-flex__item" style="background-color: #fff;">
        <a href="/zshop/prodDetail/1" class="wy-links-iconlist-ex">
            <div class="img"><img src="<%= base.cdn %>/images/product/good1.jpg"></div>
            <p style="color:black;font-size:13px;">魅蓝 Note1</p>
            <p>疾速双摄 1100万前置美拍</p>
            <p style="color:red;">¥1199.99</p>
        </a>
    </div>
    <div class="weui-flex__item" style="margin-left:5px;background-color: #fff;">
        <a href="/zshop/prodDetail/2" class="wy-links-iconlist-ex">
            <div class="img"><img src="<%= base.cdn %>/images/product/good2.jpg"></div>
            <p style="color:black;font-size:13px;">魅蓝 Note2</p>
            <p>疾速双摄 1200万前置美拍</p>
            <p style="color:red;">¥1299.99</p>
        </a>
    </div>
</div>

<div class="weui-flex wy-iconlist-box-ex">
    <div class="weui-flex__item" style="background-color: #fff;">
        <a href="/zshop/prodDetail/1" class="wy-links-iconlist-ex">
            <div class="img"><img src="<%= base.cdn %>/images/product/good1.jpg"></div>
            <p style="color:black;font-size:13px;">魅蓝 Note1</p>
            <p>疾速双摄 1100万前置美拍</p>
            <p style="color:red;">¥1199.99</p>
        </a>
    </div>
    <div class="weui-flex__item" style="margin-left:5px;background-color: #fff;">
        <a href="/zshop/prodDetail/2" class="wy-links-iconlist-ex">
            <div class="img"><img src="<%= base.cdn %>/images/product/good2.jpg"></div>
            <p style="color:black;font-size:13px;">魅蓝 Note2</p>
            <p>疾速双摄 1200万前置美拍</p>
            <p style="color:red;">¥1299.99</p>
        </a>
    </div>
</div>


<div class="weui-flex wy-iconlist-box-ex">
    <div class="weui-flex__item" style="background-color: #fff;">
        <a href="/zshop/prodDetail/1" class="wy-links-iconlist-ex">
            <div class="img"><img src="<%= base.cdn %>/images/product/good1.jpg"></div>
            <p style="color:black;font-size:13px;">魅蓝 Note1</p>
            <p>疾速双摄 1100万前置美拍</p>
            <p style="color:red;">¥1199.99</p>
        </a>
    </div>

    <div class="weui-flex__item" style="margin-left:5px;background-color: #fff;">
        <a href="javascript:;" class="wy-links-iconlist-ex"></a>
    </div>
</div>

<div class="weui-flex__item" style="margin-left:5px;background-color: #fff;">
    <a href="javascript:;" class="wy-links-iconlist-ex"></a>
</div>